* {
  text-align: center;
}

body {
  background-color: #34465A; /* #0c2a38 */
  color: #ffffff;
  font-family: priori-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4em;
}

.col-centered {
  float: none;
  margin: 0 auto;
}


/* Navbar */

.navbar-dark {
  background-color: #195977 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-dark.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
  border-bottom: 3px solid #FFFF19;
  color: #FFFF19;
}

.navbar-dark .navbar-nav .nav-link:hover {
  border-bottom: 3px solid #FFFF19;
  color: #FFFF19;
}

.navbar-brand {
  font-family: mason-serif;
  font-style: normal;
  font-weight: 400;
}

/* Navbar hamburger */
.navbar-dark .navbar-toggler {
  border-color: #FFFF19;
}


/* Headings */

h1, h3 {
  font-family: mason-serif;
  font-style: normal;
  font-weight: 400;
}

h2 {
  font-family: priori-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3em;
}


/* Character cards */

.characterCard {
  margin: 10px;
  padding: 15px;
  width: 350px;
  height: 535px;
  background-color: #175977;
  color: #ffffff;
  display: inline-grid;
  text-align: left;
}


/* Buttons */

button {
  font-family: trajan-pro-3, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 0.6em;
  background-color: #FFFF19;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
  display: flex;
  float: none;
  margin: 0 auto;
  margin-bottom: 10px;
}

/* Button expand */
.expand:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  background-color: #FFFF19;
  color: #000000;
}

/* Button play game */
.btn_play {
  font-size: 1em;
  margin-top: 10px;
}

.btn_play a {
  text-decoration: none;
  color: #000000;
}

/* Button dice */
.btn_dice {
  font-size: 0.7em;
}


/* Modal alert */

.modal-header, .modal-footer {
  display: block;
}


/* CSS animation - typewriter */

.typewriterDiv {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.typewriter h2 {
  padding-top: 20px;
  color: #fff;
  font-family: mason-serif;
  font-size: 3.8vw;
  color: #FFFF19;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .12em;
  animation: typing 4.5s steps(30, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}


/* Footer */

.footer {
  background-color: #195977;  /* #0c2a38 */
  color: #ffffff;
  padding: 5px;
  margin-top: 50px;
}

.footer a {
  color: #FFFF19;
}

.footer a:hover {
  text-decoration: underline;
}
