body {
  font-family: priori-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3em;
  background-color: #34465A;
  color: #ffffff;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

/* Headings */

h1, h3 {
  font-family: mason-serif;
  font-style: normal;
  font-weight: 400;
}

h2 {
  font-family: trajan-pro-3, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.9em;
}


/* Character cards */

.characterCard {
  margin: 10px;
  padding: 15px;
  width: 400px;
  height: 400px;
  background-color: #195977;
  color: #ffffff;
  display: inline-grid;
  text-align: left;
}

.characterCard:hover {
  background-color: #FFFF19;
  color: #000000;
}


/* Dice roller */

#diceRoller {
  height: 80px;
  width: 80px;
  margin: 40px auto;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 40px;
}

* {
  text-align: center;
}

/* Board */

#canvas {
  border: 1px solid #000;
  background-size: 100%;
}


/* Typewriter */

.typewriter h1 {
  padding-top: 20px;
  color: #fff;
  font-family: mason-serif;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .12em;
  animation: typing 4.5s steps(25, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Buttons */

#btn_play {
  font-family: trajan-pro-3, serif;
  font-weight: 400;
  font-style: normal;
  background-color: #FFFF19;
  font-weight: 600;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
}

/*
#btn_play:hover {
  background-color: #B21917;
  color: #ffffff;
}
*/

.expand:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* Home Page - text */

.bigger_text {
  font-size: 1.2em;
}
